<!DOCTYPE html>
<html lang="zh-TW">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>自傳履歷</title>
 <style type="text/css">
  * { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
  h1 {color:black; font-size:60px;}
  h2 {color:blue; font-size:40px;}
  h3 {color:black; font-size:30px;}
 </style>


</head>
<body>
 <table width="70%">
  <tr>
   <td>
  <img src="https://www1.pu.edu.tw/~s1100411/picture/查/456b_0.jpg"width="80%"></img>
 </td>>

 <td>
  <h1></h1><br>
 </td>
</tr>
</table>
<table width="80%" border="1">
<tr>
 <td>
 <h3>自我介紹</h3>
  我是查誠麒,目前正就讀靜宜大學企管系的四年級，選擇外系這堂課，使我對資訊這方面的知識有了更進一步的認識，希望能在資訊這方面的能力有所提升與成長。
 </td>

 <td>
  <h3>未來規劃</h3>
   在未來的工作，我希望能朝資訊、程式這方面更進一步的成長，必且結合原本的科系企業管理的知識，考取相關專業證照，發揮自己的所學與專長。
 </td>

 <td>
 <h3>對自己的期許</h3>
  一轉眼已經快畢業了，希望未來的自己能找到興趣並習得相關領域的知識、專長，使這項專業變成自己的喜愛，然後繼續鑽研此領域的技術、知識，讓自己成為能對這個社會有所貢獻的人。
 </td>

</tr>
</table>

</body>