<!DOCTYPE html>
<html lang="zh-TW">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>品管工程師工作相關介紹</title>
 <style type="text/css">
  * { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
  h1 {color:blue; font-size:50px;}
  h2 {color:black; font-size:20px;}
 </style>
 


</head>
<body>
 <table width="70%">
  <tr>
   <td>
  <img src="https://www1.pu.edu.tw/~s1100411/picture/查/work1.jpg"width="110%"></img>
 </td>>

 <td>
  <h1>昇達科技股份有限公司 </h1><br>
 </td>
</tr>
</table>
<table width="70%" border="1">
<tr>
 <td>
 <h2>關於公司</h2><br>
  名稱:昇達科技股份有限公司<br>
  上班地點:基隆市七堵區工建路1號(六堵科技園區)<br>
  工作內容:<br>
   1.利用產品規格書配合量測儀器進行檢查或測量，藉以管制品質使之符合規格  <br>
   2.執行IPQC製程巡檢與品質管控<br>
   3.協助主管處理客戶、製程、產品稽核與後續追蹤改善活動，及內外部品管事項<br> 
   4.利用品管手法統計分析製程數據，控管產品品質與穩定度 <br>  
   5.品質改善活動推行 <br>
 Contact:<br>
  公司網站:<a href="https://www.umt-tw.com/">https://www.umt-tw.com/</a><br>
  人才招募介紹:加入昇達科技，實現您的專業職涯夢想！<br>
 </td>

 <td>
  <h2>職涯發展</h2><br>
   您將有機會參與各種品質改進專案，我們也持續提供專業和技能培訓，讓您不斷提升品質管控專業水平，實現職涯目標。
<br>
 </td>

 <td>
 <h2>徵才條件</h2><br>
  工作經歷:一年以上<br>
  學歷要求:大學、碩士、專科<br>
  科系要求:資訊工程相關<br>
  語文條件:英文 -- 聽 /中等、說 /中等、讀 /中等、寫 /中等<br>
  擅長工具:ISO 9000、RoHS<br>
  其他條件:<br>
    1. 8D報告撰寫經驗。<br>
    2. 熟悉品質控制的七個主要工具<br>
    3. 具製造業或汽車產業相關工作經驗佳 <br>
    4. 具機械識圖能力<br>
 </td>
</tr>
</table>

</body>